<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3307/bichomon?useSSL=false</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
		
		<property name="hibernate.hbm2ddl.auto">create-drop</property>


		<!-- MAPEOS: -->
		
		<!-- CONDICIONES DE EVOLUCION -->
		
		<mapping class="ar.edu.unq.epers.bichomon.backend.model.condicionesevolucion.CondicionDeEvolucion" />		
		<mapping class="ar.edu.unq.epers.bichomon.backend.model.condicionesevolucion.CondicionBasadaEnEnergia" />
		<mapping class="ar.edu.unq.epers.bichomon.backend.model.condicionesevolucion.CondicionBasadaEnVictorias" />
		<mapping class="ar.edu.unq.epers.bichomon.backend.model.condicionesevolucion.CondicionBasadaEnEdad" />
		<mapping class="ar.edu.unq.epers.bichomon.backend.model.condicionesevolucion.CondicionBasadaEnNivel" />
		<mapping class="ar.edu.unq.epers.bichomon.backend.model.condicionesevolucion.CondicionQueFalla" />
		
		<mapping class="ar.edu.unq.epers.bichomon.backend.model.Especie" />
	
		<mapping class="ar.edu.unq.epers.bichomon.backend.model.Entrenador" />
		<mapping class="ar.edu.unq.epers.bichomon.backend.model.Bicho" />
	
		<mapping class="ar.edu.unq.epers.bichomon.backend.model.Nivel" />
		
		
		<mapping class="ar.edu.unq.epers.bichomon.backend.model.lugar.Lugar" />
		<mapping class="ar.edu.unq.epers.bichomon.backend.model.lugar.Pueblo" />
		<mapping class="ar.edu.unq.epers.bichomon.backend.model.lugar.Guarderia" />
		<mapping class="ar.edu.unq.epers.bichomon.backend.model.lugar.Dojo" />
		
	</session-factory>
</hibernate-configuration>